.App {
  text-align: center;
  background-color: black;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: teal;
  height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#bid-buttons {
  background-color: cornflowerblue;
  margin-top: 20px;
  border-radius: 3vh;
  padding: 1vh;
  width: 65vh;
  display: flex;
  justify-content: space-around;
}

#eth-logo {
  height: 1.5rem;
  width: 1.5rem;
}