.game {
  background-color: greenyellow;
  width: 65vh;
  display: inline-block;
  border-radius: 3vh;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 18px;
  padding-bottom: 18px;
}

#undo-button {
  display: inline-block;
  margin-bottom: 5px;
}

.promotion-tray {}

#promotion-icon {
  background-color: transparent;
  border-color: transparent;
}